---
import type { SocialLinks } from "@/types";

import {
  FaEnvelope,
  FaGithub,
  FaLinkedin,
  FaGlobe,
  FaYoutube,
  FaGoogleScholar
} from "react-icons/fa6";

interface Props {
  links?: SocialLinks;
}

const { links } = Astro.props;

const liClass = "inline-block px-1 intersect:animate-fade opacity-0";
const iconClass =
  "text-txt-p dark:text-darkmode-txt-p flex h-10 w-10 items-center justify-center text-center";
---

{
  links && (
    <ul class="py-2 flex items-center">
      {links.email && (
        <li class={liClass}>
          <a
            class={iconClass}
            aria-label="Email"
            href={`mailto:${links.email}`}
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="sr-only">Email</span>
            <FaEnvelope className="w-8 h-8" />
          </a>
        </li>
      )}
      {links.github && (
        <li class={liClass}>
          <a
            class={iconClass}
            aria-label="GitHub"
            href={links.github}
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="sr-only">GitHub</span>
            <FaGithub className="w-8 h-8" />
          </a>
        </li>
      )}
      {links.linkedIn && (
        <li class={liClass}>
          <a
            class={iconClass}
            aria-label="LinkedIn"
            href={links.linkedIn}
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="sr-only">LinkedIn</span>
            <FaLinkedin className="w-8 h-8" />
          </a>
        </li>
      )}
      {links.website && (
        <li class={liClass}>
          <a
            class={iconClass}
            aria-label="Website"
            href={links.website}
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="sr-only">Website</span>
            <FaGlobe className="w-8 h-8" />
          </a>
        </li>
      )}
      {links.youtube && (
        <li class={liClass}>
          <a
            class={iconClass}
            aria-label="YouTube"
            href={links.youtube}
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="sr-only">YouTube</span>
            <FaYoutube className="w-9 h-9" />
          </a>
        </li>
      )}
      {links.googleScholar && (
        <li class={liClass}>
          <a
            class={iconClass}
            aria-label="Google Scholar"
            href={links.googleScholar}
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="sr-only">Google Scholar</span>
            <FaGoogleScholar className="w-8 h-8" />
          </a>
        </li>
      )}
    </ul>
  )
}
