---
import BaseLayout from "@components/base/BaseLayout.astro";
import { Image } from "astro:assets";
import { render } from "astro:content";
import type { PeopleEntry, BlogEntry } from "@/types";

interface Props {
  entry: PeopleEntry;
}

const { entry} = Astro.props;
const { title, image, imageAlt } = entry.data;
const personalLink = entry.data.personalLink; // Ensure it's a string or null

const { Content } = await render(entry);
---

<BaseLayout title={title} image={image?.src}>
  <section class="section-sm pb-0">
    <div class="container">
      <div
        class="row justify-center border-b border-border pb-14 dark:border-darkmode-border"
      >
        <div
          class="p-4 text-center lg:col-4 intersect:animate-fadeUp opacity-0"
        >
          {
            image && (
              <Image
                class="mx-auto mb-10"
                src={image}
                alt={imageAlt}
                height={200}
                width={150}
                loading="eager"
              />
            )
          }
          <h1 class="h4 mb-6">
            <a href={personalLink}>{title}</a>
          </h1>
          <div class="mb-6">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
